@import url(//fonts.googleapis.com/css?family=Oswald:700);

body {
  background: #231f20;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Oswald";
  font-weight: 700;
  position: relative;
  margin: 30px auto;
  text-transform: uppercase;
  width: 650px;
}

h1::before,
h1::after {
  background: #4a90e2;
  content: " ";
  display: Inline-block;
  height: 30px;
  width: 30px;
  position: absolute;
}

h1::before {
  border-radius: 200px 0px 0px 200px;
  left: 1px;
  top: 3px;
}

h1::after {
  border-radius: 0px 200px 200px 0px;
  right: 1px;
  top: 3px;
}
